<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friend App</title>
</head>
<body>
    <h1>Friends Application</h1>
    <form method="POST" action="/"> 
        <input type="text" placeholder="Add a Friend" name="friend">
        <button>Add</button>
    </form>
    <%friends.forEach(function (friend){%>
        <li><%=friend%><a href="/update/<%=friend%>">Update</a></li>

    <%})%>

</body>
</html>