<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Friend</title>
</head>
<body>
    <h1>Update Friend </h1>
    <form method="POST" action="/update/<%=userFound%>?_method=PUT">
    <input type="text" name="friend" value="<%=userFound%>">
    <button>Update</button>
</form>
</body>
</html>